@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800,900&subset=cyrillic');

a, a:hover, a:active, a:visited {
    text-decoration:none !important;
}

label,
input,
textarea,
button {
    font-family: "Exo 2" !important;
    font-weight: 300 !important;
}
input,
textarea {
    color: black !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Exo 2" !important;
    font-weight: 300 !important;
}
